[Unit]
Description=Turing Pi 2 Screen Monitor
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/turing-pi-screen
ExecStart=/usr/bin/python3 /home/pi/turing-pi-screen/monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
